html{
	height: 100%;
}

body{
	font-family: "Roboto Condensed", sans-sherif;
	height: 100%;
	background-color: #e7e7e7;
}
/*======butons=======*/
.active{
    background-color: #003050 !important;
}

/*=====navigation=======*/
.nav-design{
    background-color: #1492e6 !important;
    overflow: hidden;
    padding: 0 !important;
}
*, ::after, ::before {
    -webkit-box-sizing: content-box !important;
            box-sizing: content-box !important;
}
.nav-design li{
    max-width: 500px !important;
    width: 50% !important;
}
.nav-design li a{
    padding: 15px 0;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff !important;
    height: 100%;
}

/*=====home contents======*/
.contents {
    max-width: 720px;
    width: 100%;
    background-color: #e7e7e7;
    margin: 0 auto;
}
.content{
    max-width: 720px;
    width: 100%;
    background-color: #ffffff;
    margin: 5px auto auto auto;
    border: 3px dotted #1492e6;
    border-style: dotted;
    background-color: #f1f1f1;
    display: block;
}
.notice {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px 5px 20px 20px;
    border: 3px solid #bda3d6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1492e6), to(#003050));
    background-image: linear-gradient(#1492e6, #003050);
}

.date {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #d4d4d4;
    margin: 2px;
}

.notice_title {
    font-size: 20px;
    font-family: Verdana, SolaimanLipi;
    color: #ffffff;
    margin: 2px;
}
.notice a{
    text-decoration: none;
}
.notice a p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    color: #d4d4d4;
}

/*=======archive======*/
.content-m{
    padding: 8px;
}
.archive-con-y{
    background-color: #ffffff;
    height: auto;
    margin-top: 15px;
    -webkit-box-shadow: 1px 2px 5px #003050;
            box-shadow: 1px 2px 5px #003050;
}

.archive-con-y ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.archive-con-y ul li{
    margin: 0;
    list-style: none;
    float: left;
}
.archive-con-y li a{
    display: block;
    text-decoration: none;
}
.archive-con-y li a img{
    width: 50px;
    padding: 11px 10px;
}
.archive-con-y li a p{
    color: #1492e6;
    margin: 0;
    font-size: 30px;
    width: 44%;
    text-align: center;
}
.list-title{
    padding: 12px 80px;
}

/*======months======*/
.archive-con-m{
    background-color: #1492e6;
    height: auto;
    margin-top: 15px;
    -webkit-box-shadow: 1px 2px 5px #000000;
            box-shadow: 1px 2px 5px #000000;
    border-radius: 5px;
    max-width: 500px;
}

.archive-con-m ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.archive-con-m ul li{
    margin: 0;
    list-style: none;
    float: left;

}
.archive-con-m li a{
    text-align: center;
    display: block;
    text-decoration: none;
}
.archive-con-m li a img{
    width: 40px;
    padding: 6px 10px;
}
.archive-con-m li a p{
    color: #ffffff;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 60px;
    font-size: 20px;
    font-family: sans-serif;
}
#first{
    margin-top: 5px;
}
/*======links======*/
ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: #eee;
    margin: 5px 0px 0px 0px;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
  .archive-con-d{
    background-color: #ffffff;
    height: auto;
    margin-top: 15px;
    -webkit-box-shadow: 1px 2px 5px #000000;
            box-shadow: 1px 2px 5px #000000;
    border-radius: 5px;
}

.archive-con-d ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.archive-con-d ul li{
    margin: 0;
    list-style: none;
    float: left;
}
.archive-con-d li a{
    text-align: center;
    display: block;
    text-decoration: none;
}
.archive-con-d li a img{
    width: 40px;
    padding: 6px 10px;
}
.archive-con-d li a p{
    color: #003050;
    margin: 0;
    padding: 12px 60px;
    font-size: 18px;
    font-family: calibri;
}

.content{
    max-width: 720px;
    width: 100%;
    background-color: #ffffff;
    margin: 5px auto auto auto;
    border: 3px dotted #1492e6;
    border-style: dotted;
    background-color: #f1f1f1;
    display: block;
}
.view {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
}
.Cdate{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #003050;
    margin: 5px;
    padding: 0 5px;
}
.Cnotice_title{
    font-size: 20px;
    font-family: Verdana, SolaimanLipi;
    color: #1492e6;
    margin: 5px;
    padding: 0 5px;
}
.descrip{
    padding: 0 10px;
}
.descrip p{
    font-size: 18px;
    color: #003050;
}
.descrip img{
    width: 100%;
    height: auto;
}
.down a{
    text-decoration: none;
}
.down a p{
    background-color: #003050;
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}








/*==========media quearies=========*/

@media(max-width: 320px){
    .archive-con-d li a p{
        padding: 12px 30px;
    }
    .nav-design li a{
        padding: 10px 0;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff !important;
        height: 100%;
    }
    .archive-con-m li a p{
        padding: 12px 40px;
    }
    .list-title{
        padding: 12px 60px;
    }

}

@media(min-width: 360px){
    .list-title{
        padding: 12px 100px;
    }
    .archive-con-m li a p{
        padding: 12px 80px;
    }

}

@media(min-width: 400px){
    .list-title{
        padding: 12px 120px;
    }
    .archive-con-m li a p{
        padding: 12px 100px;
    }
    .archive-con-d li a p{
        padding: 12px 80px;
    }
}

@media(min-width: 500px){
    .list-title{
        padding: 12px 170px;
    }
    .archive-con-m li a p{
        padding: 12px 120px;
    }
    .archive-con-d li a p{
        padding: 12px 120px;
    }

}

@media(min-width: 600px){
    .list-title{
        padding: 12px 200px;
    }

}

@media(min-width: 700px){
    .list-title{
        padding: 12px 230px;
    }

}

@media(min-width: 800px){
    .list-title{
        padding: 12px 250px;
    }

}