
/* colors */
.deep-blue{
    background: #0b0333 !important;
}
.navy-blu{
    background: #181841 !important;
}

.off-grey{
    background: #4f737e !important;
}

.whitish{
    background: #f3f3f3 !important;
}

.deep-blue-text{
    color : #0b0333 !important;
}
.whitish-text{
    color: #f3f3f3 !important;
}



#mynav li a{
    font-size: 18px !important;
}
#mynav li:hover{
    background-color: #4f737e !important;
}

#tnav{
    height: 50px !important;
    line-height: 45px !important;
}

#mylogo{

    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    /* padding: 0; */
}

#mobile-nav i{
    color: #f3f3f3 !important;
    font-size: 22px !important;
}

#my-drop li a{
    color: white !important;
}

.section-search{
    background-image: url(../images/alfons-morales-YLSwjSy7stw-unsplash-min.jpg);
}
#myinput{
    background: white;
    border-radius: 50px !important;
}
.section-search input{
    padding: 5px !important;
    font-size: 22px !important;
    width: 85% !important;
    border-bottom: none !important;
}

#myrd input {
    max-width: 20px !important;
    color: white;
}

#myrd span{
    font-size: 20px !important;
    color: white;
}

.myCard h5{
    font-size: 22px !important;
    color: #0b0333 ;
    font-weight: 500 !important;
}

.myCard i{
    color: #0b0333 ;
}

.myCard p{
    color: #0b0333;
    font-weight: 500;
}



#mobile-nav li a {
    color: white !important;
}

#mycollection ul h5{
    margin: 0px !important;
    padding: 10px !important;
}
#mycollection ul li a {
    font-size: 20px !important;
    color: #181841    ;
}

#mycollection li:hover{
    background-color: #f3f3f3 !important;
}
#mycollection ul li{
    padding: 10px !important;
}
#mycollection ul li i{
    max-width: 30px !important;
    margin-right: 0px !important;
}

.section-dev{
    background-image: url(../images/books.jpg)
}

.devcard h5{
    font-size: 20px !important;
    font-weight: 500 !important;
}

.devcard p,h6{
    font-size: 18px;
    font-weight: 500 !important;
    margin-top: 0px !important;
}
.devcard a{
    margin: 0 5px !important;
}

.devcard a i{
    color: #0b0333;
    font-size: 25px;
}

#contact-info {
    background-image: url(../images/map.png);
    background-size: cover;
}

#contact-info ul, #contact-info li{
    background: transparent !important;
    border: none !important;
}

#contact-info li i{
    color: white !important;
    margin-right: 5px !important;
    font-size: 18px !important;
}
#contact-info p{
    font-size: 20px !important;
}

#contact-info li a{
    color: white !important;
    font-size: 18px !important;
}

#its img{
    max-height: 185px !important;
}

#its h4 {
    margin: 2px !important;
    color: white;

}
#its h5{
    margin-top: 0px !important;
    color: #e1f5fe;
}
#its a{
    padding: 5px;
}
#its a i{
    color: #b3e5fc;
}
#thoughts h5{
    margin: 2px !important;
}

#thoughts input, #thoughts textarea{
    color: #f3f3f3 !important;
}

@media only screen and (max-width: 1222px){
    
    #mynav li a{
        font-size: 16px !important;
        padding: 0px 7px !important;
    }
}

@media only screen and (max-width: 768px) {
    .section-search input{
        font-size: 14px !important;
        width: 75% !important;
    }
    .myCard h5{
        font-size: 18px !important;
    }
    .devcard{
        padding: 10px !important;
    }
    .devcard h5{
        font-size: 18px !important;
    }
    .devcard p{
        font-size: 15px !important;
    }

    #mycollection a {
        font-size: 16px !important;
        font-weight: 400 !important;
    }
    #mycollection a i{
        margin-right: 0px !important;
    }
    
    #contact-info{
        padding: 10px 15px !important;
    }

    #contact-info ul li{
        padding: 10px 2px!important;
    }

  }
